<nav class="ciq-nav">
	<div class="left">
		<span class="symbol-frame">
			<input id="symbolInput" placeholder="Enter Symbol" type="text" ng-keypress="cqNgUi.cqNgChart.updateSymbolInput($event)"><div class="symbol-btn" ng-click="cqNgUi.cqNgChart.updateSymbolInput($event)"></div>
		</span>
		<span class="symbol-frame">
			<input id="symbolCompareInput" placeholder="Add Comparison" type="text" ng-keypress="cqNgUi.cqNgChart.updateSymbolComparison($event)"><div class="comparison-btn" ng-click="cqNgUi.cqNgChart.updateSymbolComparison($event)"></div>
		</span>
	</div>
	<div class="right">
		<menu-select id="periodicitySelect">
			<span class="title">{{cqNgUi.cqNgChart.ciq.layout | periodicity:cqNgUi.periodicity.options}}</span>
			<menu-select-options class="menu-hover">
				<menu-option class="option" ng-repeat="periodicity in cqNgUi.periodicity.options" ng-click="cqNgUi.cqNgChart.setPeriodicity(periodicity.period, periodicity.interval)"><span>{{periodicity.label}}</span></menu-option>
			</menu-select-options>
		</menu-select>
		<menu-select id="chartTypeSelect">
			<span class="title">{{cqNgUi.cqNgChart.ciq.layout | chartType:cqNgUi.chartTypes.types}}</span>
			<menu-select-options class="menu-hover">
				<menu-option class="option" ng-repeat="type in cqNgUi.chartTypes.types" ng-click="cqNgUi.cqNgChart.setChartType(type)"><span>{{type.label}}</span></menu-option>
			</menu-select-options>
		</menu-select>
		<menu-select id="studySelect" ng-if="example3">
			<span class="title">Studies</span>
			<menu-select-options class="menu-hover">
				<menu-option class="option" ng-repeat="study in cqNgUi.studies.list | orderBy:study" ng-click="cqNgUi.addStudy(study)"><span>{{study}}</span></menu-option>
			</menu-select-options>
		</menu-select>
		<menu-select id="themeSelect" ng-if="example3">
			<span class="title">Select Theme</span>
			<menu-select-options class="menu-hover">
				<menu-option class="option" ng-repeat="theme in cqNgUi.themes" ng-click="cqNgUi.handleThemeSelect(theme)"><span>{{theme.name}}</span></menu-option>
			</menu-select-options>
		</menu-select>
		<button class="crosshair-btn" ng-click="cqNgUi.cqNgChart.toggleCrosshairs()" ng-class="{'active':cqNgUi.cqNgChart.ciq.layout.crosshair}"></button>
		<button class="timezone-btn" ng-click="cqNgUi.launchTimezoneDialog()" ng-if="example3"></button>
	</div>
</nav>
<div class="ciq-chart-area">
	<cq-ng-chart symbol-input="AAPL" symbol-comparison=""></cq-ng-chart>
</div>
<div class="ciq-footer" ng-if="example3">
	<div class="quick-link" ng-click="cqNgUi.cqNgChart.set(1, 'all')">All</div>
	<div class="quick-link" ng-click="cqNgUi.cqNgChart.set(5, 'year')">5y</div>
	<div class="quick-link" ng-click="cqNgUi.cqNgChart.set(1, 'year')">1y</div>
	<div class="quick-link" ng-click="cqNgUi.cqNgChart.set(1, 'YTD')">YTD</div>
	<div class="quick-link" ng-click="cqNgUi.cqNgChart.set(3, 'month')">3m</div>
	<div class="quick-link" ng-click="cqNgUi.cqNgChart.set(1, 'month')">1m</div>
	<div class="quick-link" ng-click="cqNgUi.cqNgChart.set(5, 'day')">5d</div>
	<div class="quick-link" ng-click="cqNgUi.cqNgChart.set(1, 'today')">1d</div>
</div>

