<nav class="ciq">
	<div class="example3" ng-if="example3"> <!-- this div is only part of example-3 -->
		<menu-select class="ciq" id="studySelect">
			<span>Add Study</span>
			<menu-select-options class="menu-hover">
				<menu-option class="option" ng-repeat="study in cqNgUi.studies.list | orderBy:study" ng-click="cqNgUi.addStudy(study)"><span>{{study}}</span></menu-option>
			</menu-select-options>
		</menu-select>
		<menu-select class="ciq" id="themeSelect">
			<span>Select Theme</span>
			<menu-select-options class="menu-hover">
				<menu-option class="option" ng-repeat="theme in cqNgUi.themes" ng-click="cqNgUi.handleThemeSelect(theme)"><span>{{theme.name}}</span></menu-option>
			</menu-select-options>
		</menu-select>
		<button class="ciq timezone-btn" ng-click="cqNgUi.launchTimezoneDialog()">Select Timezone</button>
	</div>
	<!-- example-2 stuff starts here -->
	<div class="example2">
		<input id="symbolInput" placeholder="Set Symbol" type="text" ng-model="cqNgUi.cqNgChart.symbolInput"><button class="ciq symbol-btn" ng-click="cqNgUi.cqNgChart.changeSymbol()"></button>
		<menu-select class="ciq" id="periodicitySelect">
			<span>{{cqNgUi.cqNgChart.ciq.layout | periodicity:cqNgUi.periodicity.options}}</span>
			<menu-select-options class="menu-hover">
				<menu-option class="option" ng-repeat="periodicity in cqNgUi.periodicity.options" ng-click="cqNgUi.cqNgChart.setPeriodicity(periodicity.period, periodicity.interval)"><span>{{periodicity.label}}</span></menu-option>
			</menu-select-options>
		</menu-select>
		<menu-select class="ciq" id="chartTypeSelect">
			<span>{{cqNgUi.cqNgChart.ciq.layout | chartType:cqNgUi.chartTypes.types}}</span>
			<menu-select-options class="menu-hover">
				<menu-option class="option" ng-repeat="type in cqNgUi.chartTypes.types" ng-click="cqNgUi.cqNgChart.setChartType(type)"><span>{{type.label}}</span></menu-option>
			</menu-select-options>
		</menu-select>
		<input id="symbolCompareInput" placeholder="Add Comparison" type="text" ng-model="cqNgUi.cqNgChart.symbolComparison"><button class="ciq comparison-btn" ng-click="cqNgUi.cqNgChart.addComparison()"></button>
		<button class="ciq crosshair-btn" ng-click="cqNgUi.cqNgChart.toggleCrosshairs()">Crosshairs</button>
	</div>
</nav>
<cq-ng-chart quotefeed="Demo" symbol-input="AAPL" symbol-comparison=""></cq-ng-chart>

