<div class="dialog-overlay" ng-if="themeDialog.launchDialog">
	<div class="dialog">
		<div class="cq-close" ng-click="themeDialog.closeMe();"></div>
		<h3>Custom Theme</h3>
		<div class="candles">
			<div class="dialog-item color">
				<span>Candle Color</span>
				<div style="background-color:{{candleDown.color}}" class="color-picker-swatch colorDown" ng-click="themeDialog.launchColorpicker('candleDown',$event)"></div>
				<div style="background-color:{{candleUp.color}}" class="color-picker-swatch colorUp" ng-click="themeDialog.launchColorpicker('candleUp', $event)"></div>
			</div>
			<div class="dialog-item wick">
				<span>Candle Wick</span>
				<div style="background-color:{{candleDown.wick}}" class="color-picker-swatch wickDown" ng-click="themeDialog.launchColorpicker('wickDown',$event)"></div>
				<div style="background-color:{{candleUp.wick}}" class="color-picker-swatch wickUp" ng-click="themeDialog.launchColorpicker('wickUp',$event)"></div>
			</div>
			<div class="dialog-item border">
				<span>Candle Border</span>
				<div style="background-color:{{candleDown.border}}" class="color-picker-swatch borderDown" ng-click="themeDialog.launchColorpicker('borderDown',$event)"></div>
				<div style="background-color:{{candleUp.border}}" class="color-picker-swatch borderUp" ng-click="themeDialog.launchColorpicker('borderUp',$event)"></div>
			</div>
		</div>
		<div class="dialog-item lineBarChart">
			<span>Line/Bar Chart</span>
			<div style="background-color:{{lineBarChart.color}}" class="color-picker-swatch lineBar" ng-click="themeDialog.launchColorpicker('lineBar',$event)"></div>
		</div>
		<div class="dialog-item mountainChart">
			<span>Mountain Color</span>
			<div style="background-color:{{mountainChart.color}}" class="color-picker-swatch mountain" ng-click="themeDialog.launchColorpicker('mountain',$event)"></div>
		</div>
		<div class="dialog-item background">
			<span>Background</span>
			<div style="background-color:{{background.color}}" class="color-picker-swatch chartBackground" ng-click="themeDialog.launchColorpicker('chartBackground',$event)"></div>
		</div>
		<div class="dialog-item gridLines">
			<span>Grid Lines</span>
			<div style="background-color:{{gridLines.color}}" class="color-picker-swatch lines" ng-click="themeDialog.launchColorpicker('lines',$event)"></div>
		</div>
		<div class="dialog-item dateDividers">
			<span>Date Dividers</span>
			<div style="background-color:{{gridDividers.color}}" class="color-picker-swatch dividers" ng-click="themeDialog.launchColorpicker('dividers',$event)"></div>
		</div>
		<div class="dialog-item axisText">
			<span>Axis Text</span>
			<div style="background-color:{{axis.color}}" class="color-picker-swatch axis" ng-click="themeDialog.launchColorpicker('axis',$event)"></div>
		</div>
		<div class="dialog-item theme-save">
			<input type="text" placeholder="Name Your Theme" ng-model="themeDialog.customName">
			<button class="pull-right" ng-click="themeDialog.closeMe(true);">Save</button>
		</div>
		
	</div>
</div>